<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>

    <!-- Meta -->
    {{ if eq .Kind "page" }}
    <meta name="description" content="{{ .Summary }}" />
    <meta name="author" content="{{ .Params.Author | default site.Author.name }}" />
    {{ else }}
    <meta name="description" content="{{ site.Params.description }}" />
    <meta name="author" content="{{ site.Author.name }}" />
    {{ end }}

    <link href="https://unpkg.com/@master/normal.css" rel="stylesheet">

    <link href="https://api.fontshare.com/v2/css?f[]=chubbo@701&display=swap" rel="stylesheet">

    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bitter:wght@400;500&display=swap" rel="stylesheet"> -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Domine:wght@400;600&display=swap" rel="stylesheet">

    <script src="https://unpkg.com/@master/style@1.5.0"></script>
    <script src="https://unpkg.com/@master/styles@1.13.0"></script>
    <script src="https://unpkg.com/master-styles-group"></script>
    
    <!-- Set Dark Theme -->
    <script>document.documentElement.classList.add('dark')</script>

    <style>
        :root {
            --font-sans:  'Domine',serif;
        }
    </style>
    
    {{- partial "head-extra.html" . -}}
</head>
